@model ML.Usuario
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/Login.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main">
        <div class="container a-container" id="a-container">
            <form class="form" id="a-form" method="post" action="">
                @*@Html.LabelFor(model => model.Email, new { @class = "visually-hidden" })
                @Html.TextBoxFor(model => model.Email, new { @class="visually-hidden"})*@
                <h2 class="form_title title">Recuperar Cuenta</h2>
                <input class="form__input" type="password" name="password" placeholder="Ingresa tu nueva Contraseña"><input class="form__input" type="password" name="password" placeholder="Confirma la Contraseña" />
                @*<button class="form__button button submit">Registrarse</button>*@
                <input class="form__button button" type="submit" value="Registrarse" />
            </form>
        </div>
        <div class="switch" id="switch-cnt">
            <div class="switch__circle"></div>
            <div class="switch__circle switch__circle--t"></div>
            <div class="switch__container" id="switch-c1">
                <h2 class="switch__title title">Bienvenido!</h2>
                <p class="switch__description description">Para recuperar tu cuenta ingresa la nueva contraseña y corroborara en el segundo campo</p>
            </div>
            <script src="/js/Login.js"></script>
        </div>
    </div>

</body>

</html>

